<div ng-controller="menu5.ctrl">
    <div class="main content5">
        <h3>消息管理</h3>
        <div class="content5_head">
            <a>全部消息</a>
            <a>已收藏消息</a>
        </div>
        <div class="border_bottom"></div>
        <select>
            <option>今天</option>
            <option>最近五天</option>
            <option>全部消息</option>
        </select>
        <ul class="message_list">
            <li ng-click="reply()">
                <a>
                    <img src="">
                    <table class="message_list_text">
                        <tr>
                            <td class="user-name">秋秋秋</td>
                            <td class="message_content">今天天气很好</td>
                            <td class="message_time">2016.05.11</td>
                            <td class="collection"><i class="fa fa-star-o"></i></td>
                        </tr>
                    </table>
                </a>
            </li>
            <li ng-click="reply()">
                <a>
                    <img src="">
                    <table class="message_list_text">
                        <tr>
                            <td class="user-name">秋秋秋</td>
                            <td class="message_content">今天天气很好</td>
                            <td class="message_time">2016.05.11</td>
                            <td class="collection"><i class="fa fa-star-o"></i></td>
                        </tr>
                    </table>
                </a>
            </li>
            <li ng-click="reply()">
                <a>
                    <img src="">
                    <table class="message_list_text">
                        <tr>
                            <td class="user-name">秋秋秋</td>
                            <td class="message_content">今天天气很好</td>
                            <td class="message_time">2016.05.11</td>
                            <td class="collection"><i class="fa fa-star-o"></i></td>
                        </tr>
                    </table>
                </a>
            </li>
        </ul>
    </div>
</div>