<div ng-controller="ship1.ctrl">
    <div class="main">
        <h3>活动管理/已发送活动</h3>
        <div class="border_bottom"></div>
        <div class="search">
            <input type="text" class="text" placeholder="在这里输入要查找的活动">
            <input type="button" class="button" value="搜索">
        </div>
        <ul class="activity_simple">
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_history()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>